img {
  width: 80%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #8076a3;
}


.card {
  margin: 40px;
  background-color: #7c677f;
  border-width: 20px;
}


